TELEGRAM_BOT_TOKEN=isi_token
TELEGRAM_CHAT_ID=isi_chat_id

RUN_MODE=screener_syariah
SCREENER_LIMIT=5
SCREENER_ENABLE_AUTO_UPDATE_UNIVERSE=1

# optional
GEMINI_API_KEY=
OPENROUTER_API_KEY=
ENABLE_AI_INSIGHT=0
AI_PROVIDER=off